/* You can add global styles to this file, and also import other style files */
.bg-radial-ibelick {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  height: min-content;
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
}
