<h2 class="text-center">Formulario: {{ tasks.id > 0? 'Actualizar': 'Crear' }} Tarea</h2>
<form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" >
    <div class="form-floating mb-3">
        <input class="form-control"
        placeholder="Nombre de la tarea"
        id="floatingInput"
        name="name"
        #name="ngModel"
        required
        minlength="4"
        [(ngModel)]="tasks.name">
        <label for="floatingInput">Nombre de la tarea</label>
        @if (name.invalid && (name.dirty || name.touched)) {
            <div class="alert alert-danger">
                @if (name.errors!['required']) {
                    El nombre es requerido
                }
                @if (name.errors!['minlength']) {
                    El nombre debe tener al menos 4 caracteres
                }
            </div>
        }
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control"
        placeholder="Fecha expiracion"
        name="dateExpiration"
        #dateExpiration="ngModel"
        required
        [(ngModel)]="tasks.expirationDate">
        <label for="date">Fecha expiracion: </label>
        @if (dateExpiration.invalid && (dateExpiration.dirty || dateExpiration.touched)) {
            <div class="alert alert-danger">
                @if (dateExpiration.errors!['required']) {
                    La fecha de expiracion es requerida es requerido
                }
            </div>
        }
    </div>
    <div class="form-floating mb-3">  
        <select class="form-select"
        id="status" 
        name="status"
        #status="ngModel"
        [(ngModel)]="tasks.status"
        required>
            <option [ngValue]="'pendiente'">Pendiente</option>
            <option [ngValue]="'completado'">Completado</option>
        </select>
        <label for="status">Seleccione un estado</label>
    </div>
    <div class="mt-2 d-flex justify-content-between">
        <button class="btn btn-success" type="submit" [disabled]="taskForm.form.invalid">
            {{tasks.id > 0? "Actualizar": "Crear"}}
        </button>
        <button class="btn btn-danger" type="button" (click)="onCancel(taskForm)">
            Cancelar
        </button>
    </div>
</form>
